.searchC {
    display: flex;
}
.listC {
    display: flex;
    flex-direction: column;
    width: 40vw;
}
.list {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.list ol {
    width: fit-content;
}

.item {
    display: flex;
    text-decoration: none;
    width: min-content;
    font-size: 30px;
    margin: auto;
}

form {
    width: fit-content;
}

.ingredientsC{
    display: flex;
    width: min-content;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

.dataC {
    width: 50vw;
}

.mealC {
    display: flex;
    flex-direction: column;
}

.mealC img {
    width: 450px;
    margin: auto;
}